body { 
    margin: 0px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJxSLb4kc6TolICUY2MPtVbDTs6XW1ljEn7A&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;

}

html, body {
    overflow-x: hidden;
}